﻿@model PagedList.IPagedList<Bookcase.ViewModels.RateVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oceny</h2>

@Html.ActionLink("Dodaj Ocenę", "AddRate", "Rate")
<br />
<br />
@using (Html.BeginForm("Index", "Rate", FormMethod.Get))
{
    <p>
        Szukaj: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Szukaj" />
    </p>
}
<br />
<table style="width: 50%" border-collapse collapse>
    <tr>
        <th>
            @Html.ActionLink("ID ", "Index", new { SortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Tytuł Książki", "Index", new {SortOrder = ViewBag.WriterSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            Wypożyczający
        </th>
        <th>
            Ocena
        </th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        <tr> <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>

            <td>
                @Html.ActionLink("Edit", "UpdateRate", new { id = item.Id })
                @Html.ActionLink("Delete", "DeleteRate", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

