﻿@model PagedList.IPagedList<Bookcase.ViewModels.BookVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Książki</h2>

@Html.ActionLink("Dodaj Książkę", "AddBook", "Book")
<br />
<br/>
@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <p>
        Szukaj: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Szukaj"/>
    </p>
}
<br/>
<table style="width: 50%" border-collapse: collapse>
    <tr>
        <th>
            @Html.ActionLink("Tytuł", "Index", new { SortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Autor", "Index", new { SortOrder = ViewBag.WriterSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Gatunek
        </th>
        <th></th>
        
    </tr>
    @foreach (var item in Model)
    {
        string selectedRow = "";
        if (item.Id == ViewBag.BookID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem=> item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Writer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
           
           
            <td>
               
                @Html.ActionLink("Select", "Index", new {id = item.Id})
                @Html.ActionLink("Edit", "UpdateBook", new {id = item.Id})
                @Html.ActionLink("Delete", "DeleteBook", new {id = item.Id})
            </td>
        </tr>
    }
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



@*@if (Model != null)
{
    <h3>Oceny wybranej książki</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Oceny</th>
        </tr>
        @foreach (var item in Model)
        {
            string selectedRow = "";
            if (item.Id == ViewBag.RateID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                   
                </td>
                <td>
                    @item.Rates
                </td>
            </tr>
        }
    </table>
}*@








