﻿@model PagedList.IPagedList<Bookcase.ViewModels.PersonVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Użytkownicy</h2>

@Html.ActionLink("Dodaj Użytkownika", "AddPerson", "Person")
<br />
<br />
@using (Html.BeginForm("Index", "Person", FormMethod.Get))
{
    <p>
        Szukaj: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Szukaj" />
    </p>
}
<br />
<table style="width: 50%" border-collapse collapse>
    <tr>
        <th>
            @Html.ActionLink("Imię", "Index", new { SortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nazwisko", "Index", new { SortOrder = ViewBag.WriterSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
          

            <td>
                @Html.ActionLink("Edit", "UpdatePerson", new { id = item.Id })
                @Html.ActionLink("Delete", "DeletePerson", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

