﻿@model Bookcase.ViewModels.LendVM
@{
    ViewBag.Title = "Add Lend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj wypoożyczenie</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BorrowDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BorrowDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BorrowDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReturnDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.BookId, Model.BooksSelectList, "Wybierz", new { required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.PersonId, Model.UsersSelectList, "Wybierz", new { required = "required",id="userDdl" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<br />
<div>


    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-default"  id="myBtn">Dodaj użytkownika</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj użytkownika</h4>
                    </div>
                    <div class="modal-body">

                        <div id="PersonDiv">
                        </div>

                        <form metod="post" name="formularz">

                            <p>Imię</p>
                            <input type="text" id="imie" name="name" />
                            <p></p>
                            <p>Nazwisko</p>
                            <input type="text" id="nazwisko" name="lastName" />

                            <br /><br />
                            <input type="button" value="Zapisz" id="przycisk" name="przycisk" />

                        </form>

                        <script type="text/javascript">

                            $(document).ready(function () {
                                var modalElement = $('#myModal');
                                $("#myBtn").click(function() {
                                    modalElement.modal('show');
                                });

                                $("#przycisk").click(function () {
                                    $.ajax({
                                        url: '@Url.Action("PostPerson")',
                                        cache: false,
                                        method: "POST",
                                        dataType: "JSON",
                                        data: $("form[name=formularz]").serialize(),
                                        success: function (data) {
                                            $("#PersonDiv").append(" Użytkownik" + data.Name + " " + data.LastName + " został odany" + "</br>");
                                            modalElement.modal('hide');
                                            promise.success(data);
                                            $.getJSON('@Url.Action("GetPersons","Person")',
                                                function(result) {
                                                    var userDdl = $("#userDdl");
                                                    userDdl.empty();

                                                    $.each(result, function() {
                                                        $(document.createElement('option'))
                                                            .attr('value',this.Value)
                                                            .text(this.Text)
                                                            .appendTo(userDdl);
                                                    });
                                                });
                                        }
                                    });

                                });
                            });
                        </script>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    @*@Html.ActionLink("Dodaj Użytkownika", "AddPerson", "Person", new { returnAction = "AddLend", returnController="Lend"},null)*@
</div>
<br />
<div>
    @Html.ActionLink("Cofnij do listy", "Index")
</div>