﻿@model PagedList.IPagedList<Bookcase.ViewModels.LendVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wypożyczenia</h2>

@Html.ActionLink("Dodaj wypożyczenie", "AddLend", "Lend")
<br />
<br />
@using (Html.BeginForm("Index", "Lend", FormMethod.Get))
{
    <p>
        Szukaj: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Szukaj" />
    </p>
}
<br />
<table style="width: 50%" border-collapse collapse>
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { SortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Wypożyczający", "Index", new {SortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            Tytuł książki
        </th>
        <th>
            Data Wypożyczenia
        </th>
        <th>
            Data Oddania
        </th>
        <th></th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @item.BorrowDateTime.ToShortDateString()
            </td>
            <td>
                @item.ReturnDateTime.ToShortDateString()
            </td>



            <td>
                @Html.ActionLink("Edit", "UpdateLend", new {id = item.Id})
                @Html.ActionLink("Delete", "DeleteLend", new {id = item.Id})
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
